svg {
    cursor: zoom-out;
}
/*Fajfka*/
.fajfkaPozadi {
    fill: rgb(177, 288, 177);
    stroke: green;
    stroke-width: 2;
}
.fajfkaIkona {
    fill: none;
    stroke: green;
    stroke-width: 10;
    stroke-linecap: round;
}
.fajfka:hover .fajfkaPozadi {
    fill: green;
    stroke: rgb(177, 255, 177);
}
.fajfka:hover .fajfkaIkona {
    stroke: rgb(177, 255, 177);
}

/*Křízek*/
.krizekPozadi {
    fill: rgb(255, 177, 177);
    stroke: red;
    stroke-width: 2;
}
.krizekIkona {
    fill: none;
    stroke: red;
    stroke-width: 10;
    stroke-linecap: round;
}
.krizek:hover .krizekPozadi {
    fill: red;
    stroke: rgb(255, 177, 177);
}
.krizek:hover .krizekIkona {
    stroke: rgb(255, 177, 177);
}